.paragrapheTitle {
    background: linear-gradient(to bottom,#ffffff 0%, #eeedfb 40%);
    padding: 1rem;
    color: #737373;
    justify-content: center;
    margin-top: 30px;
}

.paragrapheContent {
    color: #525252;
    background: #eeedfb;
    padding-left: 15px;
    padding-right: 15px;
}
