.paragrapheTitle {
    background: linear-gradient(to bottom, #ffffff 0%, #ecf5f4 100%);
    padding: 1rem;
    color: #737373;
    justify-content: center;
    margin-top: 30px;
}

.paragrapheContent {
    color: #525252;
    background: #ecf5f4;
    padding-left: 15px;
    padding-right: 15px;
}
